/* main
---------------------------------------------- */
html {
  margin-top: 0 !important;
}

body {
  font-family: 'Hind Vadodara', sans-serif;
  margin: 0 auto;
  height: 100vh;
  font-size: 18px;
}

.navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.custom-link {
  color: #4f4f4f;
  font-weight: bold;
  text-decoration: none;
}

.custom-btn {
  background-color: transparent;
  border: none;
  margin-top: 10px;
  padding: 0;
}

.custom-link:hover {
  color: #4f4f4f;
  text-decoration: underline;
}

main {
  padding: 40px 0;
}

.avatar {
  display: flex;
  padding: 20px 0;
}

.my-img {
  background-image: url('../img/avatar.jpeg');
}

.olena-img {
  background-image: url('../img/aliona.jpg');
}

.tr-img {
  background-image: url('../img/tr.jpg');
}

.artem-img {
  background-image: url('../img/artem.jpg');
}

.mike-img {
  background-image: url('../img/mike.jpg');
}

.avatar-img {
  border-radius: 50%;
  min-width: 80px !important;
  width: 80px;
  height: 80px;
  background-size: cover;
}

.avatar-text {
  margin-left: 12px;
  margin-top: auto;
}

.avatar-name {
  display: inline-block;
  width: 140px;
  color: #4f4f4f;
  font-weight: bold;
}

.avatar-role::before {
  content: '\A';
  white-space: pre;
}

.title {
  color: #D90429;
  width: 200px;
  display: inline-block;
  position: relative;
}

.title .title-small {
  position: absolute;
  left: 42px;
  top: 36px;
}

.title-small {
  line-height: 40px;
  font-size: 22px;
  color: #D90429;
  width: 100%;
}

.text-content {
  padding-top: 40px;
}

.interests-list, .mobile-social-list {
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
}

.mobile-social-list {
  justify-content: start !important;
}

footer {
  padding: 40px 0 0 0;
}

.footer-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;

  .custom-btn {
    margin-top: 0;
  }
}

.footer-list li .custom-link {
  line-height: 40px;
}

.slick-list.draggable {
  padding: 0 !important;
}

.show_mobile {
  display: none;

  .custom-btn {
    margin-top: 0;
  }
}

.form__message {
  text-align: center;
}

.alert {
  display: none;
  margin: 1.5rem 0;
}

.refresh {
  display: none;
  height: 3rem;
  margin: 1.5rem 0;
}
